 <% if (isAuthenticated ==true) { %>
  <%- include("partials/authheader") %>
 <% }else{ %>
  <%- include("partials/header") %>
  <% } %>
    <!-- carousel  -->
    <div id="carouselPages" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active data-interval=2000">
          <img src="images/carouselpic1.jpg" class="d-block w-100">
          <div class="carousel-caption">
            <h1> <i class="fas fa-plane-departure"></i><span>T</span>ravelair</h1>
            <p>Your complete flight booking partner</p>
          </div>
        </div>
        <div class="carousel-item data-interval=2000">
          <img src="images/carouselpic2.jpg" class="d-block w-100">
          <div class="carousel-caption carousel-caption-custom">
            <h4>Welcome to our service!Please login or signup.</h4>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Login</button>
           <a href="/signup"><button type="button" class="btn bg-dark" style="color: white;">Sign Up</button></a> 
          </div>
        </div>
        <div class="carousel-item data-interval=2000">
          <img src="images/carouselpic3.jpg" class="d-block w-100">
          <div class="carousel-caption carousel-caption-custom">
            <h4> Cancel your tickets without third party cancellation charges.</h4>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselPages" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselPages" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
   </div>
<!-- this is the recommendation recommendation system  -->
<div class="container-fluid text-center container-custom" id="recommendation">
  <h1><i class="fas fa-directions"></i>Take a Trip</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="domestic-tab" data-toggle="tab" href="#domestic" role="tab" aria-controls="home" aria-selected="true">Take Domestic Trip</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="international-tab" data-toggle="tab" href="#international" role="tab" aria-controls="international" aria-selected="false">Take International Trip</a>
    </li>
  </ul>
  <div class="tab-content tab-custom" id="myTabContent">
    <!-- try using carousel instead of cards  -->
    <div class="tab-pane fade show active" id="domestic" role="tabpanel" aria-labelledby="domestic-tab">
      <div class="tabs-area d-flex flex-row justify-content-around">
        <% recommendations.forEach(item => { %>
          <% if (item.TYPE=='DOMESTIC') { %>
           <div class="card card-location" style="background-image: url('<%= item.URL %>');">
               <h5 class="card-title-custom"><a href="#" class="btn btn-outline-dark">Book <i class="fas fa-ticket-alt"></i> to <%= item.LOCATION %> </a></h5>
           </div>
          <% } %>
         <% }) %>
      </div>
    </div>
    <div class="tab-pane fade tabs-area" id="international" role="tabpanel" aria-labelledby="international-tab">
     <div class="tabs-area d-flex flex-row justify-content-around">
      <% recommendations.forEach(item => { %>
        <% if (item.TYPE=='INTERNATIONAL') { %>
          <div class="card card-location" style="background-image: url('<%= item.URL %>');">
            <h5 class="card-title-custom"> <a href="#" class="btn btn-outline-dark">Book <i class="fas fa-ticket-alt"></i> to <%= item.LOCATION %> </a></h5>          </div>
         <% } %>
         <% }) %>
     </div>
    </div>
  </div>
  </div>
  <!-- our services section  -->
  <div class="container-fluid div-content grey-bg" id="service">
      <h1>Our services</h1>
      <div class="row">
        <div class="col-custom col-12 col-md-6">
          <img src="images/easybook.jpg">
        </div>
        <div class="col-custom col-caption col-12 col-md-6">
          <h2>Easy Booking</h2>
          <p>This system allows easy booking of flight tickets without asking for too much of unnecessary details.
            All you need for booking your tickets are valid documents, a device with internet connection and a travel plan.
         Have a travel plan? Book your tickets now! <br>
         <button class="btn btn-primary" type="button">Book</button>
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col-custom col-caption col-12 col-md-6">
          <h2>E-Ticket Available</h2>
          <p>Dont worry about forgetting your tickets anymore.Our website will immediately generate an electronic ticket or soft copy of your ticket which are now acceptable at airports wihtout the need of printing it.This way we make sure that less paper is disposed in our environemnt.
        </p>
        </div>
        <div class="col-custom col-12 col-md-6">
          <img src="images/eticket.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-custom col-12 col-md-6">
          <img src="images/cancelled.jpg">
        </div>
        <div class="col-custom col-caption col-12 col-md-6">
          <h2>Easy Cancellation</h2>
          <p>This system allows easy cancellation of flight tickets.
            All you need for cancelling your tickets are just a few clicks.There shall not be any cancellation charges if booked using Travelair.There are no hidden charges for cancellation of tickets but it must be done 3 days earlier in order to avoid cancellation charges set by the flight you have chosen.
        </p>
        </div>
      </div>
    </div>

     <!-- this is the timer section  -->
<div class="container-fluid container-custom text-center" id="timer">
  <h1>Travelair Creator<i class="fa fa-birthday-cake mr-1 ml-1" aria-hidden="true"></i> Birthday Sale</h1>
  <div class="row justify-content-center">
    <div class="col-auto col-custom">
      <div class="timer-box">
        <div class="timer-head">
         <h1 class="time" id="days"></h1>
        </div>
        <div class="timer-foot">
         <h2>DAYS</h2>
        </div>
      </div>
    </div>
    <div class="col-auto col-custom">
      <div class="timer-box">
        <div class="timer-head">
         <h1 class="time" id="hours"></h1>
        </div>
        <div class="timer-foot">
         <h2>HOURS</h2>
        </div>
      </div>
    </div>
    <div class="col-auto col-custom">
      <div class="timer-box">
        <div class="timer-head">
         <h1 class="time"id="mins"></h1>
        </div>
        <div class="timer-foot">
         <h2>MINS</h2>
        </div>
      </div>
    </div>
    <div class="col-auto col-custom">
      <div class="timer-box">
        <div class="timer-head">
         <h1 class="time" id="secs"></h1>
        </div>
        <div class="timer-foot">
         <h2>SECS</h2>
        </div>
    </div>
  </div>
</div>
</div>
<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942437.4425194685!2d87.7691744803736!3d22.676288075963612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1594929613204!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>
<!-- this is the about us section  -->
<div class="container-fluid div-content grey-bg" id="about">
  <h1>About Us</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-custom">
      <img src="images/fakeme.jpg">
    </div>
    <div class="col-12 col-md-6 col-custom col-caption">
      <h3>Neha Kumar, Creator of Travelair</h3>
      <p>I have graduated from Techno Main Saltlake,Kolkata,West Bengal.This project is an improvisation of our final year major project.For this website, I made use of technologies such as PHPMyAdmin,NodeJS,EJS and many more. I have completed my Full Stack Web Development course from Udemy in March,2020. I am currently engaged in learning Full Stack using React from Coursera.</p>
    </div>
  </div>
</div>
<script src="/js/timercounter.js"></script>
 <%- include("partials/footer") %>